{% load static %}

<div class="card-full-userblock">
    <h1>{{ contractor.name }}</h1>
    <img src="{% static contractor.picture %}" alt="ava" class="card-full-ava">
</div>

<div class="portfolio">
    <div class="portfolio-header">
        <div class="portfolio-header-job">{{ contractor.job }}</div>
        <div class="portfolio-header-town">{{ contractor.townJob }}</div>
        <div class="portfolio-header-sexAndAge">{{ contractor.sex }}, {{ contractor.age }} лет</div>
    </div>
    <div class="portfolio-mainPart">
        <div class="">Дополнительные виды деятельности:</div>
        <div class="">{{ contractor.another_skills }}</div>

        <div class="">Города для выезда:</div>
        <div class="">{{ contractor.another_townJob }}</div>

        <div class="">Иностранные языки:</div>
        <div class="">{{ contractor.languages }}</div>

        <div class="">Личная медицинская книжка:</div>
        <div class="">{{ contractor.medBook }}</div>

        <div class="">Противопоказания к работе:</div>
        <div class="">{{ contractor.contraindications }}</div>

        <div class="">График занятости:</div>
        <div class="">{{ contractor.schedule }}</div>

    </div>
</div>