{% load static %}

<div class="searching-form">
    <form action="{% url url_alias %}" method="get">
        <input type="hidden" name="catalog" value="{{ request.GET.catalog }}">
        <input type="hidden" name="page" value="{{ request.GET.page }}">
        {% if request.GET.sorted %}
            <input type="hidden" name="sorted" value="{{ request.GET.sorted }}">
        {% endif %}

        {% if url_alias == 'orders' %}
            <input type="text" placeholder="Поиск" name="job" value="{{ request.GET.job }}">
        {% else %}
            <input type="text" placeholder="Поиск" name="name" value="{{ request.GET.name }}">
        {% endif %}

        <button type="submit"><img src="{% static 'svg/magnifier.svg' %}" alt="zoom"></button>
    </form>
</div>


<input type="hidden" name="catalog" value="{{ request.GET.catalog }}">
<input type="hidden" name="page" value="{{ request.GET.page }}">