<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Сервис для самозанятых Подjobка</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
</head>

<body>
<script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>

<header>
    {% include 'public/inc/header.html' %}
</header>

<main>
    <!--Searching block-->
    <div class="searching">
        {% block searching-title %} {% endblock %}


        <div class="searching-form">
            <input type="text" placeholder="Search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>

    <div class="content container">
        {% block main_header %} {% endblock %}
        {% block prompt_text %} {% endblock %}

        <div class="orders">
            <a class="order" href="#!">
                <img src="{% static 'svg/orders/delivery.svg' %}" class="icon">
                <div class="text">Доставка и логистика</div>
            </a>
            <a class="order" href="#!">
                <img src="{% static 'svg/orders/trading.svg' %}" class="icon">
                <div class="text">Торговля</div>
            </a>
            <a class="order" href="#!">
                <img src="{% static 'svg/orders/other.svg' %}" class="icon">
                <div class="text">Услуги и прочее</div>
            </a>
            <a class="order" href="#!">
                <img src="{% static 'svg/orders/management.svg' %}" class="icon">
                <div class="text">Менеджмент, продажи, администрирование</div>
            </a>

            <a class="order" href="#!">
                <img src="{% static 'svg/orders/construction.svg' %}" class="icon">
                <div class="text">Строительство, ремонт, производство</div>
            </a>
            <a class="order" href="#!">
                <img src="{% static 'svg/orders/media.svg' %}" class="icon">
                <div class="text">СМИ</div>
            </a>
            <a class="order" href="#!">
                <img src="{% static 'svg/orders/it.svg' %}" class="icon">
                <div class="text">Разработка ПО</div>
            </a>
            <a class="order" href="#!">
                <img src="{% static 'svg/orders/engineering.svg' %}" class="icon">
                <div class="text">Проектирование</div>
            </a>
            <a class="order" href="#!">
                <img src="{% static 'svg/orders/design.svg' %}" class="icon">
                <div class="text">Дизайн</div>
            </a>
            <a class="order" href="#!">
                <img src="{% static 'svg/orders/finance.svg' %}" class="icon">
                <div class="text">Финансы и бухгалтерия</div>
            </a>
            <a class="order" href="#!">
                <img src="{% static 'svg/orders/horeca.svg' %}" class="icon">
                <div class="text">HoReCa</div>
            </a>
            <a class="order" href="#!">
                <img src="{% static 'svg/orders/marketing.svg' %}" class="icon">
                <div class="text">Маркетинг</div>
            </a>
            <a class="order" href="#!">
                <img src="{% static '' %}./svg/orders/beauty.svg" class="icon">
                <div class="text">Красота и здоровье</div>
            </a>
            <!--Нужно будет еще дописать другие категории-->
        </div>
    </div>
</main>

<footer>
    {% include 'public/inc/footer.html' %}
</footer>

<script src="{% static 'js/main.js' %}"></script>
</body>

</html>