<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Сервис для самозанятых Подjobка</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    {% block css %} {% endblock %}
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
</head>

<body>

<header>
    {% include 'public/inc/header.html' %}
</header>

<main>

    <!--Шаблон для главных страниц-->
    <div class="searching">
        {% block searching-title %} {% endblock %}
        {% block search-bar %}{% endblock %}
    </div>

    <div class="content container">
        {% block main_header %} {% endblock %}
        {% block prompt_text %} {% endblock %}
        {% block contentPage %} {% endblock %}
    </div>

</main>

<footer>
    {% include 'public/inc/footer.html' %}
</footer>

<script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>