{% extends 'public/base.html' %}

{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/ordsAndContrs.css' %}">
{% endblock %}

{% block searching-title %}
    <h1 class="searching-title">Каталог</h1>
{% endblock %}

{% block search-bar %}
    <div class="searching-form">
        <input type="text" placeholder="Поиск">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <div class="collapse-sort">
        <span class="label-sorting">Сортировка: </span>
        <select id="sort-options">
            <option value="name">По имени</option>
            <option value="price">По стоимости</option>
        </select>
        <button class="sort-button card-order-btn-submit">Показать результат</button>
    </div>
{% endblock %}

{% block contentPage %}
    <div class="orders">
        <div class="card-order">

            <div class="card-order-userblock">
                <div class="card-order-userblock-username">Короткова Елена</div>
                <img src="{% static 'img/user1.jpg' %}" alt="ava" class="card-order-userblock-ava">
            </div>

            <div class="card-order-short-info">

                <div class="card-order-short-info-job">Вид деятельности:</div>
                <div class="card-order-short-info-job-ans">Укладчик товаров</div>

                <div class="card-order-short-info-age">Возраст:</div>
                <div class="card-order-short-info-age-ans">36 лет</div>

                <div class="card-order-short-info-citship">Гражданство:</div>
                <div class="card-order-short-info-citship-ans">Российская Федерация</div>

                <div class="card-order-short-info-town">Город ведения деятельности:</div>
                <div class="card-order-short-info-town-ans">г. Новосибирск, Новосибирская область</div>

                <div class="card-order-short-info-salary">Cтоимость работы (RUB):</div>
                <div class="card-order-short-info-salary-ans">5000</div>

            </div>

            <a href="#!">
                <button class="card-order-btn-submit">Подробнее</button>
            </a>

        </div>

    </div>

    <div class="filter">
        <div class="sorting-controls">
            <span class="sort-label">Фильтры</span>
            <span class="label-sorting">Отсортировать:</span>
            <select id="sort-options">
                <option value="name">По имени</option>
                <option value="price">По стоимости</option>
            </select>
            <button class="sort-button card-order-btn-submit">Показать результат</button>
        </div>
    </div>

{% endblock %}
