{% extends 'public/base.html' %}

{% load static %}

{% block main_header %}
    <span class="order-title">Тестирование клиент-серверных приложений</span>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/persInfo.css' %}">
{% endblock %}

{% block contentPage %}
    <div class="card-full">
        <div class="card-full-userblock">
            <h1>Наймикс</h1>
            <img src="{% static 'img/user1.jpg' %}" alt="ava" class="card-full-ava">
        </div>

        <div class="portfolio">
            <div class="portfolio-header">
                <div class="portfolio-header-job">Общество с ограниченной ответственностью "Наймикс"</div>
                <div class="portfolio-header-town">г. Казань, Татарстан Респ</div>
            </div>
            <div class="portfolio-mainPart">
                <div class="">Номер заказа::</div>
                <div class="">2190454</div>

                <div class="">Период работ::</div>
                <div class="">29.09.2023 — 28.12.2023</div>

                <div class="">Вид деятельности:</div>
                <div class="">Тестировщик</div>

                <div class="">Место выполнения:</div>
                <div class="">Россия, Москва, 2-я Брестская улица, 5</div>

                <div class="">Договор:</div>
                <div class="">НПД</div>

                <div class="">Дополнительные условия:</div>
                <div class="">Не указано</div>

            </div>

            <div class="portfolio-footer">Описание работ:</div>
            <div class="">Исполнитель обязуется провести 20 ручных функциональных тестирований клиент-серверных
                приложений и 32 нефункциональных ручных тестирований модулей и компонентов клиент-серверных приложений:
                iOS, Android, Web, БД PostgreSQL. Стоимость проведения одного тестирования составляет 532 руб.
            </div>
        </div>
    </div>
{% endblock %}
